body {
    background-color: #212121;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

label {
    text-align: left;
    display: block;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    width: 23%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333;
}

.right-panel {
    width: 77%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

#query {
    width: 100%; /* Thay đổi kích thước theo nhu cầu */
    height: 150px; /* Thay đổi chiều cao theo nhu cầu */
    resize: vertical; /* Cho phép thay đổi kích thước chiều dọc */
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tier {
    width: 100%;
    margin-bottom: 20px;
}

.tier h2 {
    margin: 10px 0; /* Điều chỉnh khoảng cách trên và dưới */
}

.image {
    display: inline-block;
    margin-right: 10px;
}

.image img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 5px 0; /* Điều chỉnh khoảng cách trên và dưới của ảnh */
}

.image p {
    margin: 5px 0; /* Điều chỉnh khoảng cách trên và dưới của tên ảnh */
}
