body {
    background-color: #212121;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

label {
    text-align: left;
    display: block;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    width: 23%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333;
}

.right-panel {
    width: 77%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

#query {
    width: 100%; /* Thay đổi kích thước theo nhu cầu */
    height: 150px; /* Thay đổi chiều cao theo nhu cầu */
    resize: vertical; /* Cho phép thay đổi kích thước chiều dọc */
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

#result img {
    width: 100%;
    height: auto;
}

.form-group {
    width: 100%;
    margin-bottom: 20px; /* Adjust this value to increase/decrease the spacing between pairs */
}

#models .selectedModels {
    display: flex;
}

/* Hiệu ứng loading */
.loading {
    display: none; /* Ẩn hiệu ứng loading mặc định */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading p {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}


